body{
    margin: 0;
}



@keyframes shake {
    0% {
        transform: translateX(-50%) rotate(-1deg);
    }

    25% {
        transform: translateX(-50%) rotate(1deg);
    }

    50% {
        transform: translateX(-50%) rotate(-1deg);
    }

    75% {
        transform: translateX(-50%) rotate(1deg);
    }

    100% {
        transform: translateX(-50%) rotate(0deg);
    }
}