<div>
    <h1>Regeln</h1>
    <ul>
        <li>Es gibt zwei Würfel.</li>
        <li>Mindestens drei Spieler</li>
        <li>Frau Horst ist die Person, die einen Pasch würfelt (z.B. 1 & 1 oder 4 & 4).</li>
        <li>Frau Horst darf nur mit „Sie“ oder „Frau Horst“ angesprochen werden.</li>
        <li>Das Wort „trinken“ darf auf keinen Fall gesagt werden!</li>
        <li>Es kann mit beliebig vielen Leuten gespielt werden!</li>
        <li>Was oder wie viel getrunken wird, kann selbst entschieden werden!</li>
    </ul>

    <h2>Getrunken wird bei</h2>
    <ol>
        <li>Wenn Frau Horst geduzt wird (die Person, die „du“ gesagt hat).</li>
        <li>Wenn „trinken“ erwähnt wird (die Person, die „trinken“ gesagt hat).</li>
        <li>Wenn 2 und 1 oder 1 und 2 geworfen wird (alle trinken).</li>
        <li>7 – Der Spieler rechts vom Würfler muss trinken</li>
        <li>8 – Der Würfler muss selber trinken</li>
        <li>9 – Der Spieler links vom Würfler muss trinken</li>
        <li>5 – Frau Horst denkt sich eine neue Regel aus</li>
    </ol>
</div>